name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 1 */1 *"

jobs:
  test:
    name: Elixir ${{ matrix.pair.elixir }} / OTP ${{ matrix.pair.otp }} / NATS ${{ matrix.pair.nats }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pair:
          - otp: "25.3.2"
            elixir: "1.14"
            nats: "2.10.0"

          #- otp: "26.2.5"
          #  elixir: "1.16.2"
          #  nats: "2.10.14"

          #- otp: "27.1"
          #  elixir: "main"
          #  nats: "latest"

    env:
      MIX_ENV: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.pair.elixir }}
          otp-version: ${{ matrix.pair.otp }}

      - name: Start NATS Jetstream
        run: docker run --rm -d --network host nats:${{ matrix.pair.nats }} -js

      - name: Restore deps cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: deps-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}-${{ hashFiles('mix.lock') }}

      - name: Install package dependencies
        run: mix deps.get

      - name: Check for valid formatting
        run: mix format --check-formatted

      - name: Run unit tests
        run: mix test --color
